 .u-section-1 {
  background-image: url("images/image_processing20210304-28502-3if57v.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 1160px;
}

.u-section-1 .u-group-1 {
  width: 448px;
  height: 448px;
  margin: 80px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 52px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}